.ContentContainer {
  /* background-color: aquamarine; */
  margin-top: 80px;
  margin-left: 250px;
  width: calc( 100% - 250px );
  height: calc(100% - 80px);
  position: fixed;
  overflow: scroll;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
}